@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --background-color: #d980fa;
  --primary-color: #f7f1e3;
  --secondary-color: #fda7df;
}

html {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-box {
  width: 300px;
  height: auto;
  background: var(--primary-color);
  padding: 1.5rem;
  margin: 1rem;
  font-family: inherit;
}

.img-box {
}

.img-text {
}

.header-text {
}
