*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  /* background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%); */
  background: #ffffff;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  position: relative;
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  /* background-color: #f1f2f6; */
  background-color: white;
}
.container .top-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.container .top-container .nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.container .top-container .nav-head .left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .top-container .nav-head .left-nav .fa-lock {
  padding: 0 8px 3px 0;
  font-size: 14px;
}
.container .top-container .nav-head .left-nav .username span {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
}

.container .top-container .nav-head .right-nav {
  font-size: 24px;
}
.container .top-container .nav-head .right-nav .fa-plus-square-o {
  padding-right: 24px;
}

/* profile */
.container .top-container .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}
.container .top-container .profile .profile-img {
  background-image: url("./Img/profile.jpg");
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  -webkit-background-size: cover;
}
.container .top-container .profile .profile-info {
  display: flex;
  align-items: center;
  text-align: center;
}
.container .top-container .profile .profile-info .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
.container .top-container .profile .profile-info .details .number {
  font-weight: bold;
  font-size: 1.1rem;
}
.container .top-container .profile .profile-info .details span {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}
/* caption */
.container .top-container .caption {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.container .top-container .caption .caption-info {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  font-family: inherit;
  font-size: 14px;
}
.container .top-container .caption .caption-edit-profile {
  margin-top: 10px;
}
.container .top-container .caption .caption-edit-profile .edit-profile {
  width: 90%;
  padding: 6px;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #cfd4d6;
}
.container .top-container .caption .caption-edit-profile .add-user {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #cfd4d6;
}

/* highlight */

.container .top-container .highlight {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 2px;
  /* background-color: yellow; */
}
.container .top-container .highlight .single-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container .top-container .highlight .single-highlight .img-box {
  border: 2px solid #cad3c8;
  width: 60px;
  height: 60px;
  margin-bottom: 4px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
}
.container .top-container .highlight .single-highlight span {
  text-align: center;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
}
.container .top-container .highlight .single-highlight:nth-child(1) .img-box {
  background-image: url("./Img/img1.jpg");
}
.container .top-container .highlight .single-highlight:nth-child(2) .img-box {
  background-image: url("./Img/img2.png");
}
.container .top-container .highlight .single-highlight:nth-child(3) .img-box {
  background-image: url("./Img/img3.jpg");
}
.container .top-container .highlight .single-highlight:nth-child(4) .img-box {
  background-image: url("./Img/img4.jpg");
}

/* page-posts */
.container .bottom-container {
}
.container .bottom-container .nav-middle {
  display: flex;
  justify-content: space-around;
  /* background-color: yellowgreen; */
  padding: 14px 8px;
}
.container .bottom-container .nav-middle .nav-bar {
  font-size: 1.3rem;
  font-weight: 400;
}
.container .bottom-container .nav-middle .fa-play,
.fa-user-circle {
  color: #aaa69d;
}
.container .bottom-container .line {
  border-bottom: 2px solid black;
  width: 34%;
}
.container .bottom-container .page-posts {
}
.container .bottom-container .page-posts .post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  gap: 1px;
}
.container .bottom-container .page-posts .post-container .post-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #ffffff;
  -webkit-background-size: cover;
}
.container .bottom-container .page-posts .post-container .post-box2 {
  width: 100%;
  height: 20px;
}
.container .bottom-container .page-posts .post-container .post1 {
  background-image: url("./Img/post1.jpg");
}
.container .bottom-container .page-posts .post-container .post2 {
  background-image: url("./Img/post2.jpg");
}
.container .bottom-container .page-posts .post-container .post3 {
  background-image: url("./Img/post3.jpg");
}
.container .bottom-container .page-posts .post-container .post4 {
  background-image: url("./Img/post4.jpg");
}
.container .bottom-container .page-posts .post-container .post5 {
  background-image: url("./Img/post5.jpg");
}
.container .bottom-container .page-posts .post-container .post6 {
  background-image: url("./Img/post6.jpg");
}
.container .bottom-container .page-posts .post-container .post7 {
  background-image: url("./Img/post7.jpg");
}
.container .bottom-container .page-posts .post-container .post8 {
  background-image: url("./Img/post8.jpg");
}
.container .bottom-container .page-posts .post-container .post9 {
  background-image: url("./Img/post9.jpg");
}

/* footer */

.container .footer {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 4px;
}
.container .footer .footer-bar {
  font-size: 1.3rem;
}
.container .footer .home,
.icon-profile {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: center center;
}
.container .footer .icon-profile {
  /* font-size: 1.5rem; */
  border: 2px solid black;
  border-radius: 50%;
  background-image: url("./Img/profile.jpg");
}
.container .footer .home {
  background-image: url("./Img/home.png");
}
